registry=https://pkgs.dev.azure.com/relic-ui/_packaging/relic/npm/registry/ 
                        
always-auth=true


; begin auth token
//pkgs.dev.azure.com/relic-ui/_packaging/relic/npm/registry/:username=relic-ui
//pkgs.dev.azure.com/relic-ui/_packaging/relic/npm/registry/:_password=dmhyYnFmNmN3eHB0eGRvaWRrdHBxam00aGV0b3ZrNmlyaXE3bGNjb2twdmFvNXlnYmc1cQ==
//pkgs.dev.azure.com/relic-ui/_packaging/relic/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/relic-ui/_packaging/relic/npm/:username=relic-ui
//pkgs.dev.azure.com/relic-ui/_packaging/relic/npm/:_password=dmhyYnFmNmN3eHB0eGRvaWRrdHBxam00aGV0b3ZrNmlyaXE3bGNjb2twdmFvNXlnYmc1cQ==
//pkgs.dev.azure.com/relic-ui/_packaging/relic/npm/:email=npm requires email to be set but doesn't use the value
; end auth token